h1, h2, ul, p{
  margin: 0; /*브라우저 기본스타일 없애기*/
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(images/background.gif);
  background-color: #999;
}

.wrapper{
  background-color:#ddd;
  width: 800px;
  margin: 50px auto;
}

.header{
  /*padding-top: 50px; 하면 전체가 늘어남*/

  background-image: url(images/header-bg.png);
  color: white;
  height: 400px;
  text-align: center; /*안에 컨텐츠만 가운데정렬*/
}

.header .profile{
  margin-top: 50px;
  border-radius: 100px;
}

.header h1{ /*header안의 h1*/
  color: orange;
  margin: 10px 0;
}

.header p{
  background-color: black;
  color: #888;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.contents .section{
  background-color: white;
  background-image: url("images/icon-skills.png");
  background-repeat: no-repeat;
  background-position: right 30px center;
  margin: 20px;
  padding: 20px;
}

.section h2{
  color: orange;
  margin-bottom: 10px;
}

.section li{
  padding: 3px 30px 8px;
}

.section li:hover{ /*가상클래스*/
  color: orange;
  background-image: url(images/icon.png);
  background-repeat: no-repeat;
  background-size: 23px;

}

.footer{
  background-color: #111;
  color: #999;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 5px;
}
